@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('./assets/fonts/Inter-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: url('./assets/fonts/Inter-Medium.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 800;
    src: url('./assets/fonts/Inter-ExtraBold.ttf') format('truetype');
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: 'Inter';
    font-weight: 500;
  }
}

@layer components {
  .wrapper {
    @apply p-1 rounded custom-shadow bg-white;
  }
}

@layer utilities {
  .custom-shadow {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .border-button {
    border: 1px solid #e2e3e5;
  }
}
